---
layout: default
onload: "michelangelo()"
skiplink: image-maker--input
---

{% include header.html %}

<main id="content" class="container {{ page.form-fields }}">
	
<div id="page-title" {% if page.styles %}style="{{ page.styles }}"{% endif %}>		
		<h1 class="page-title">{{ page.title }}</h1>
	</div>
	
	<div id="page-lead-paragraph">
		<p>{{ page.excerpt }}</p>
	</div>
	
	<div id="page-content">
		
		<div id="image-maker--input">

			{% include {{ page.form-fields | prepend: 'form-fields/' | append: '.html' }} %}

		</div>
		
		<div id="image-maker--output">

			<h2>Preview</h2>

			<div id="image-maker--output--preview">

				<div id="output-preview--image">
					<img id="canvas-img" alt="Right click to save me!">
				</div>

				<div id="output-preview--buttons">
					<a href="javascript:void(0)" class="button" onclick="michelangelo()">Update image</a>
					<a href="javascript:void(0)" class="button" id="output-download" download>Download image</a>	
				</div>

						
			</div>
			
		</div>

	</div>
		
</main>
	
<canvas id="canvas" style="display: none;"></canvas>

<script type="text/javascript" src="{{ site.url | append: site.baseurl | append: '/assets/scripts/' | append: page.form-fields | append: '.js' }}"></script>

{% include footer.html %}
